body,
html {

	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;

	background: url(landing.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
font-size: 3rem;
color: #ffffff;
}

.uppercase {

text-transform: uppercase;

}

hr {
border-color: white;
max-width: 65px;
border-width: 3px;

}

.btn-l {

	border-radius: 50px;
	padding: 15px;
	text-transform: uppercase;
}

.btn-light {

	color: blue;
	border-color: white;
}

.btn-light:hover {
color: white;
background-color: blue;
border: 4px;
}

.buffer {

	height: 10rem;
}